<br> <br>
<div class="col-md-6 col-md-offset-2">
  <h3> Edit User </h3>
  <br>

  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

    <div class="form-group">

      <label for="firstName">First Name: </label>
      <input type="text" class="form-control" formControlName="firstName" id="firstName" />

      <div *ngIf="submitted && editForm.controls.firstName.errors" class="error">
        <div class="text-danger" *ngIf="editForm.controls.firstName.errors.required">
          First Name is required
        </div>
      </div>


      <label for="lastName">Last Name: </label>
      <input type="text" class="form-control" formControlName="lastName" id="lastName" />

      <div *ngIf="submitted && editForm.controls.lastName.errors" class="error">
        <div class="text-danger" *ngIf="editForm.controls.lastName.errors.required">
          Last Name is required
        </div>
      </div>

      <label for="email">Email Address: </label>
      <input type="email" class="form-control" formControlName="email" id="email" />

      <div *ngIf="submitted && editForm.controls.email.errors" class="error">
        <div class="text-danger" *ngIf="editForm.controls.email.errors.required">
          Email is required
        </div>
      </div>

    </div>








<div>

  <button class="btn btn-success"> Update </button> &nbsp;
<a class="btn btn-warning" [routerLink]="['/list-user']"> Cancel </a>
</div>



</form>

</div>