<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title | uppercase }}!
 </h1>
 </div> -->
    <!-- Type your name here: <input type="text" #txtName (keyup)="0" placeholder="Type Here"/>
    Your name is {{txtName.value}} -->


<!-- <app-home> </app-home> -->

<div style="color:white;background-color:indigo;padding:10px">
<h2 class="text-center" style="margin-top:20px">
LTI USER MANAGEMENT APP
</h2>

</div>

<div class="container">
<div class="row">
<div class="col-md-8">
    <router-outlet></router-outlet>

</div>
<div class="col-md-4">
<img src='../assets/images/community-logo-png.png'>
  </div>


</div>
</div>

<br> <br> 
<div class="text-center">
<footer>
<span class="text-danger">
<strong> All rights reserved &copy; LTI</strong> 
</span>
</footer>


</div>
