<br> <br>
<div class="col-md-6 col-md-offset-2">

  <h3> LTI </h3>
  <h6>
    Founded 20 years ago as the information technology arm of the Larsen & Toubro group, our unique heritage gives us
    unrivaled real-world expertise to solve the most complex challenges of enterprises across all industries.
  </h6>
<br> <br>

  <ul class="basic" style="font-weight: bold">
  <li>
    Our Services
    <ul>

      <li>Automation</li>
      <li>Cloud</li>
      <li>Consulting</li>
      <li>IMS</li>

      </ul>


  </li>
</ul>
</div>

<a class="btn btn-success" [routerLink]="['/login']"> Login 
</a> &nbsp;

<a class="btn btn-warning" [routerLink]="['/calculator']"> Calculate </a> &nbsp;

<a class="btn btn-danger" [routerLink]="['/twoway']"> Two way </a>&nbsp;

<a class="btn btn-primary" [routerLink]="['/lifecycle']"> Lifecycle </a>